.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.theme {
  display: flex;
  align-items: flex-end;
  gap: 22px;
}
.theme p,
.thm-num > span {
  font-size: 10px;
  font-weight: 500;
}
.theme > p {
  padding-bottom: 4px;
}
.swith-theme {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sw-btn {
  width: 50px;
  display: flex;
  justify-content: space-around;
  padding: 4px;
  background: var(--toggle-background);
  border-radius: 10px;
}
.thm-num {
  width: 70%;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
}

.slider {
  -webkit-appearance: none;
  width: 42px;
  background: transparent;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}
.slider::-webkit-slider-thumb {
  background-color: var(--switch-color);
}

.slider[data-theme="second"]::-webkit-slider-thumb {
  background-color: var(--switch-color); 
}

.slider[data-theme="third"]::-webkit-slider-thumb {
  background-color: var(--switch-color); 
}
.result-screen{
  background: var(--screen-background);
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  text-align: end;
  margin: 20px 0 20px;
  border-radius: 5px;
  height: 90px;
  scrollbar-width: thin; 
  scrollbar-color: #888 #e0e0e0; 
}
.result-screen > span{
  display: inline-block;
  margin: 1.1em 25px;
}
.calc-body{
  height: 79%;
  background: var(--toggle-background);
  border-radius: 5px;
  margin-top: 10px;
}
.ro-1,.ro-2,.ro-3,.ro-4,.ro-5{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}